h1 {
    text-align: center;
}

h4 {
    font-style: oblique;
}

.h42 {
    font-style: oblique;
}

h3 {
    font-family: sans-serif;
    text-align: center;
}
body {
    background-color: #FFFFFF;
}

p {
    font-size: 24px;
}

canvas {
    background-color: #3C3C3C;
    cursor: none;
}

.CC {
    color: aquamarine;
    position: fixed;
    bottom: 0px;
}